In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df = pd.read_csv("Fake-News-final-dataset (1).csv")
df.head()

,id,News Headline,About Headline,label
0,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0.0
1,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0.0
2,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0.0
3,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0.0
4,5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,0.0

In [3]:
df["class"]= 0
df["class"]=1

In [4]:
df.shape

(62585, 5)

In [5]:
df_manual_testing = df.tail(10)
for i in range(23480,23479,-1):
    df.drop([i],axis=0,inplace=True)

In [6]:
df_manual_testing = pd.concat([df_manual_testing],axis=0)
df_manual_testing.to_csv("manual_testing.csv")

In [7]:
df_marge = pd.concat([df],axis=0)
df_marge.head(10)

,id,News Headline,About Headline,label,class
0,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0.0,1
1,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0.0,1
2,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0.0,1
3,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0.0,1
4,5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,0.0,1
5,6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,0.0,1
6,7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,0.0,1
7,8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,0.0,1
8,9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,0.0,1
9,10,"Papa John’s Founder Retires, Figures Out Raci...","A centerpiece of Donald Trump s campaign, and ...",0.0,1

In [8]:
X = df.drop('label', axis=1) 
y = df['label']
# Delete missing data
df = df.dropna()
df2 = df.copy()
df2.reset_index(inplace=True)

In [9]:
df['News']=df['News Headline'].astype(str) + df['About Headline']

In [10]:
df.head(2)

,id,News Headline,About Headline,label,class,News
0,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0.0,1,Drunk Bragging Trump Staffer Started Russian ...
1,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0.0,1,Sheriff David Clarke Becomes An Internet Joke...

In [11]:
df.drop('News Headline', inplace=True, axis=1)
df.drop('About Headline', inplace=True, axis=1)
df.drop('id', inplace=True, axis=1)
df = df[['News','label']]
df.head()

                                                News  label
0   Drunk Bragging Trump Staffer Started Russian ...    0.0
1   Sheriff David Clarke Becomes An Internet Joke...    0.0
2   Trump Is So Obsessed He Even Has Obama’s Name...    0.0
3   Pope Francis Just Called Out Donald Trump Dur...    0.0
4   Racist Alabama Cops Brutalize Black Boy While...    0.0

In [12]:
#df['label'] = df['label'].map({0:'FAKE', 1: 'REAL'})
#df.head()

In [13]:
baby = df.iloc[23000:25000, 0:2]

In [14]:
baby.head()

                                                    News  label
23119  FAKE NEWS WEEK: Mainstream Media – All the Fak...    0.0
23120  Putin and Trump to Potentially Meet in Sloveni...    0.0
23121  Message to President Trump from Syria’s Assad:...    0.0
23122  FAKE NEWS WEEK: How Mainstream Media ‘Fake New...    0.0
23123  Boiler Room #96 – The Great Lobster Degeneracy...    0.0

In [15]:
x = df["News"]
y = df["label"]

In [16]:
df.isnull().sum()

News     0
label    0
dtype: int64

In [17]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*\]','',text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https://\S+|www\.S+', '', text)
    text = re.sub('<.*>+', '',text)
    text = re.sub('[%s]'%re.escape(string.punctuation), '',text)
    text = re.sub('\n', '',text)
    text = re.sub('\w*\d\w*', '',text)
    return text

In [18]:
df["News"] = df["News"].apply(word_drop)
df.head(10)

                                                News  label
0   drunk bragging trump staffer started russian ...    0.0
1   sheriff david clarke becomes an internet joke...    0.0
2   trump is so obsessed he even has obama s name...    0.0
3   pope francis just called out donald trump dur...    0.0
4   racist alabama cops brutalize black boy while...    0.0
5   fresh off the golf course  trump lashes out a...    0.0
6   trump said some insanely racist stuff inside ...    0.0
7   former cia director slams trump over un bully...    0.0
8   watch  brand new pro trump ad features so muc...    0.0
9   papa john s founder retires  figures out raci...    0.0

In [19]:
x_train, x_test, y_tarin, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
LR = LogisticRegression()
LR.fit(xv_train, y_tarin)

LogisticRegression()

In [24]:
LR.score(xv_test, y_test)

0.9176962803164019

In [25]:
pred_LR =LR.predict(xv_test)

In [26]:
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

         0.0       0.90      0.95      0.92      7816
         1.0       0.94      0.89      0.91      7481

    accuracy                           0.92     15297
   macro avg       0.92      0.92      0.92     15297
weighted avg       0.92      0.92      0.92     15297

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_tarin)

DecisionTreeClassifier()

In [29]:
DT.score(xv_test, y_test)

0.8941622540367392

In [30]:
pred_DT =DT.predict(xv_test)

In [31]:
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

         0.0       0.89      0.90      0.90      7816
         1.0       0.89      0.89      0.89      7481

    accuracy                           0.89     15297
   macro avg       0.89      0.89      0.89     15297
weighted avg       0.89      0.89      0.89     15297

In [32]:
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
GBC= GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_tarin)

GradientBoostingClassifier(random_state=0)

In [34]:
GBC.score(xv_test, y_test)

0.933777864940838

In [35]:
pred_GBC = GBC.predict(xv_test)

In [36]:
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

         0.0       0.90      0.98      0.94      7816
         1.0       0.98      0.88      0.93      7481

    accuracy                           0.93     15297
   macro avg       0.94      0.93      0.93     15297
weighted avg       0.94      0.93      0.93     15297

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
RFC= RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_tarin)

In [ ]:
RFC.score(xv_test, y_test)

In [ ]:
pred_RFC = RFC.predict(xv_test)

In [ ]:
print(classification_report(y_test, pred_RFC))

In [ ]:
def output_label(n):
    if n == 0:
        return "FAKE NEWS"
    elif n == 1:
        return "NOT A FAKE NEWS"
    
def manual_testing(news):
    testing_news = {"text" : [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC= RFC.predict(new_xv_test)
    
    return print("\n\nLR Prediction: {}  \nDT Prediction: {}  \nGBC Prediction: {}  \nRFC Prediction: {}".format(output_label(pred_LR[0]),
                                                                                                                output_label(pred_DT[0]), 
                                                                                                                output_label(pred_GBC[0]), 
                                                                                                                output_label(pred_RFC[0])))

In [ ]:
news = str(input())
manual_testing(news)

In [ ]:
import pickle
filename = 'finalized__model.pkl'
pickle.dump(GBC, open(filename, 'wb'))